MOLDOVA_IP=45.140.146.134
MOLDOVA_USER=alex
AWG_INTERFACE=awg0
AWG_SERVICE=awg-quick@awg0
IPIP_INTERFACE=ipip0
API_SECRET=your_secret_here

BRIDGE_IP=your_bridge_ip
BRIDGE_USER=vpnadmin
BRIDGE_AWG_INTERFACE=awg0
