# monitoring/ai-bot-monitoring/.env.example
# Copy to .env and fill in your values. Never commit .env to git.

TELEGRAM_BOT_TOKEN=your_token_here
ALLOWED_USER_ID=123456789
GEMINI_API_KEY=your_key_here

# Optional — defaults are set in config.py
GEMINI_MODEL=models/gemini-2.0-flash #or other, availiable in your region
AWG_CONF_PATH=/etc/amnezia/amneziawg/awg0.conf
AWG_INTERFACE=awg0 #or other 
AWG_PORT=443
CLIENT_DNS=1.1.1.1,1.0.0.1
CLIENT_SUBNET=10.66.66.0/24