[Interface]
Address = 10.66.66.1/24
ListenPort = 443
PrivateKey = <SERVER_PRIVATE_KEY>
PostUp = iptables -A FORWARD -i awg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i awg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
# Obfuscation parameters (randomly generated at installation)
Jc = <Jc>
Jmin = <Jmin>
Jmax = <Jmax>
S1 = <S1>
S2 = <S2>
H1 = <H1>
H2 = <H2>
H3 = <H3>
H4 = <H4>

[Peer]
PublicKey = <CLIENT_PUBLIC_KEY>
AllowedIPs = 10.66.66.2/32
