[Interface]
Table = off
PrivateKey = {{ awg1_private_key }}
Address = 10.77.77.2/30
Jc = 4
Jmin = 50
Jmax = 1000
S1 = 113
S2 = 129
H1 = 2084167604
H2 = 496352973
H3 = 523868278
H4 = 1364490158

[Peer]
PublicKey = {{ moldova_awg1_public_key }}
PresharedKey = {{ awg1_psk }}
Endpoint = {{ moldova_ip }}:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
