{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "tag": "client-in",
      "port": 443,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ client_uuid }}",
            "flow": "xtls-rprx-vision"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "dest": "www.microsoft.com:443",
          "serverNames": ["www.microsoft.com"],
          "privateKey": "{{ reality_private_key }}",
          "shortIds": ["6ba85179e30d4fc2"],
          "fingerprint": "chrome"
        }
      }
    }
  ],
  "outbounds": [
    {
      "tag": "chain-to-moldova",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ moldova_entry_ip }}",
            "port": 443,
            "users": [
              {
                "id": "{{ moldova_entry_uuid }}",
                "flow": "xtls-rprx-vision",
                "encryption": "none"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "www.microsoft.com",
          "publicKey": "{{ moldova_entry_public_key }}",
          "shortId": "{{ moldova_entry_short_id }}"
        },
        "xhttpSettings": {
          "mode": "packet-up"
        }
      }
    },
    {
      "protocol": "freedom",
      "tag": "DIRECT"
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "outboundTag": "DIRECT",
        "domain": ["geosite:category-ru", "regexp:\\.ru$"]
      },
      {
        "type": "field",
        "outboundTag": "chain-to-moldova",
        "network": "tcp,udp"
      }
    ]
  }
}
