# Bridge node (Russia)
awg_address: "10.66.66.1/24"
awg_listen_port: 443
awg_private_key: "<BRIDGE_PRIVATE_KEY>"  
awg_public_key: "<BRIDGE_PUBLIC_KEY>" 

awg_peers:
  - public_key: "<ENTRY_PUBLIC_KEY>"
    allowed_ips: "10.66.66.2/32"
    endpoint: "{{ hostvars['md-entry']['ansible_host'] }}:443"
    persistent_keepalive: 25

awg_enable_nat: false