all:
  children:
    entry:
      hosts:
        vps-moldova:
          ansible_host: <MOLDOVA_VPS_IP>
          ansible_user: root  # temporarily
    ru_bridge:
      hosts:
        russian-bridge:
          ansible_host: <RUSSIAN_BRIDGE_VPS_IP>
          ansible_user: root  # temporarily
