all:
  children:
    bridge:
      hosts:
        ru-bridge:
          ansible_host: <RUSSIAN_BRIDGE_IP>
          ansible_user: ubuntu  
    entry:
      hosts:
        md-entry:
          ansible_host: <MOLDOVA_ENTRY_IP>
          ansible_user: ubuntu
    exit:
      hosts:
        fr-exit:
          ansible_host: <FRANCE_EXIT_IP>
          ansible_user: ubuntu