# ansible/group_vars/all.yml.example
# Copy to all.yml and change values

# General Setup
new_user: "vpnadmin"
ssh_public_key: "ssh-ed25519 AAAA... your_public_key"

# AmneziaWG
awg_port: 443
awg_interface: awg0
awg_subnet: "10.66.66.0/24"
awg_server_ip: "10.66.66.1"

# Obfuscation parameters (will be generated randomly, can be kept default)
awg_jc: 4
awg_jmin: 50
awg_jmax: 1000
awg_s1: 113
awg_s2: 129
awg_h1: 2084167604
awg_h2: 496352973
awg_h3: 523868278
awg_h4: 1364490158

# Firewall
ufw_allowed_ports:
  - "22/tcp"
  - "{{ awg_port }}/udp"
